<h1>Editing campaign schedule d</h1>

<%= render "form", campaign_schedule_d: @campaign_schedule_d %>

<br>

<div>
  <%= link_to "Show this campaign schedule d", @campaign_schedule_d %> |
  <%= link_to "Back to campaign schedule ds", campaign_schedule_ds_path %>
</div>
