<p style="color: green"><%= notice %></p>

<h1>Campaign schedule D</h1>

<div id="campaign_schedule_ds">
  <%= render @campaign_schedule_ds %>
</div>

<%= link_to "Back to campaign report", campaign_campaign_report_path(id: @campaign_report) %>
