<h1>Editing campaign schedule b</h1>

<%= render "form", campaign_schedule_b: @campaign_schedule_b %>

<br>

<div>
  <%= link_to "Show this campaign schedule b", @campaign_schedule_b %> |
  <%= link_to "Back to campaign schedule bs", campaign_schedule_bs_path %>
</div>
