<tr id="<%= dom_id campaign_schedule_f %>">
  <td scope="row"><%= format_money(campaign_schedule_f.receipts) %></td>
  <td class="campaign-table-data"><%= format_money(campaign_schedule_f.payments) %></td>
  <td class="campaign-table-data"><%= format_money(campaign_schedule_f.balance) %></td>
</tr>
