<div id="<%= dom_id campaign_schedule_f %>">
  <p>
    <strong>Receipts:</strong>
    <%= format_money(campaign_schedule_f.receipts) %>
  </p>

  <p>
    <strong>Payments:</strong>
    <%= format_money(campaign_schedule_f.payments) %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= format_money(campaign_schedule_f.balance) %>
  </p>

</div>
