<p style="color: green"><%= notice %></p>

<h1>Campaign schedule F</h1>

<div id="campaign_schedule_fs">
  <%# this should never be null, but just in case %>
  <%= render @campaign_schedule_f if @campaign_schedule_f %>
</div>

<%= link_to "Back to campaign report", campaign_campaign_report_path(id: @campaign_report) %>
