<header >
  <nav class="navbar navbar-default navbar-custom">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "/" do %>
          <%= show_svg('Logo.svg')%>
        <% end %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <%= link_to "About", "/"%>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", "/"%>
        </li>
      </ul>
    </div>
  </nav>
</header>