<p style="color: green"><%= notice %></p>

<h1>Campaign schedule C</h1>

<div id="campaign_schedule_cs">
  <%= render @campaign_schedule_cs %>
</div>

<%= link_to "Back to campaign report", campaign_campaign_report_path(id: @campaign_report) %>
