<p style="color: green"><%= notice %></p>

<%= render @election %>
<div>
  <h3>Campaigns</h3>
  <ul>
    <% @election.campaigns.each do |campaign| %>
      <li><%= link_to campaign.name, campaign %></li>
    <% end %>
  </ul>
</div>
<div>
  <%= link_to "Add campaign", new_campaign_path %>
</div>
