<h1>Editing contribution</h1>

<%= render "form", contribution: @contribution %>

<br>

<div>
  <%= link_to "Show this contribution", @contribution %> |
  <%= link_to "Back to contributions", contributions_path %>
</div>
