<p style="color: green"><%= notice %></p>

<h1>Committees</h1>

<div id="committees">
  <% @committees.each do |committee| %>
    <%= render committee %>
    <p>
      <%= link_to "Show this committee", committee %>
    </p>
  <% end %>
</div>

<%= link_to "New committee", new_committee_path %>
