<h1>Editing campaign treasurer</h1>

<%= render "form", campaign_treasurer: @campaign_treasurer %>

<br>

<div>
  <%= link_to "Show this campaign treasurer", @campaign_treasurer %> |
  <%= link_to "Back to campaign treasurers", campaign_treasurers_path %>
</div>
