<table id="campaigns" class="table">
    <thead>
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Office</th>
        <th scope="col">Location</th>
        <th scope="col">Election</th>
        <th scope="col">Compliant</th>
        <th scope="col">Status</th>
        </tr>
    </thead>

    <tbody>
        <% @campaigns.each do |campaign| %>
            <tr>
            <th scope="row"><%= link_to campaign.name, campaign %></th>
            <th><%= campaign.office %></th>
            <th><%= campaign.city %></th>
            <th><%= campaign.election.title %></th>
                
            <th><%# campaign compliant %></th>
            <th><%# campaign status %></th>
            </tr>
        <% end %>
    </tbody>
</table>