<p style="color: green"><%= notice %></p>

<h1>Campaigns</h1>

<div id="campaigns">
  <% @campaigns.each do |campaign| %>
    <%= render campaign %>
    <p>
      <%= link_to "Show this campaign", campaign %>
    </p>
  <% end %>
</div>

<%= link_to "New campaign", new_campaign_path %>
