<div class="wrapper">
  <%= render "application/sidebar" %>

  <div class="main">

    <div class="content">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Campaigns</li>
        </ol>
      </nav>

      <hr>

      <%= render "campaigns_table" %>

      <%= link_to "New campaign", new_campaign_path %>
    </div>

  </div>
</div>
