<div class="wrapper">
  <%= render "shared/sidebar" %>

  <div class="main-campaigns">
    
    <div class="campaigns-search-header">  
      <%= render "campaigns_search" %>
    </div>
    
    <hr>

    <div class="campaigns-wrapper">

      <%= render "campaigns_table" %>

      <%= link_to "New campaign", new_campaign_path %>
    </div>

  </div>
</div>
