<%= render "shared/small_topbar" %>

<div class="new-campaign-form">
  <div class="px-4 py-3">
    <p class="h3"><strong>Registration Form</strong></p>

    <%= render "form", campaign: @campaign %>


    <br>

    <div class="">
      <%= link_to "Back to campaigns", campaigns_path %>
    </div>
  </div>
</div>
