/*
Use @import to import Sass files.

Do not use *= require in Sass or your other stylesheets will not be able to access the Bootstrap mixins and variables.
 */

@import '../../../node_modules/bootstrap/scss/bootstrap';

@font-face {
    font-family: "Nunito";
    src: url('Nunito-VariableFont_wght.ttf');
}

body {
    font-family: "Nunito";
    background: #FFFFFF;
}

div.container {
    display: flex;
}

.wrapper {
    display: flex;
    width: auto;
}

.form-group-large {
    font-size: 29px;
    font-weight: 700;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
}

label {
    margin-bottom: 0px;
}

.main-campaigns {
    background-color: #FFFFFF;
    width: 100%;
}

.sidebar-header {
    padding: 20px 20px 25px 40px;
    &>a>svg {
        width: 250px;
        height: 86.5px;
    }
}

.sidebar {
    width: auto;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgba(216, 216, 216, 0.4);
}

.sidebar-nav-item {
    font-size: 30px;
    padding: 0px 0px 15px 10px;
    &>a {
        text-decoration: none;
        &:hover {
            color: #007C8A;
            text-decoration: underline;
        }
    }
}

.list-unstyled-components {
    list-style: none;
    padding: 25px;
    padding-left: 45px;
}

a {
    color: #007C8A;
}

.nav-item {
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;

    color: #000000;
}

.navbar-custom {
    padding: 25px;
    background: white;
}

.searchbar-custom {
    background-color: rgba(216, 216, 216, 0.4);
    border-left: none;
    height: 100%;
    font-size: 20.5px;
    font-weight: 500;
    border-radius: 8px;
}

.search-icon {
    background-color: rgba(216, 216, 216, 0.4);
}

.campaign-searchbar {
    padding: 20px;
    background-color: rgba(216, 216, 216, 0.4);
}

.searchbar-icon-custom {
    background-color: rgba(216, 216, 216, 0.4);
    border-right: none;
    height: 100%;
    padding: 20px 20px 17px 35px;
    border-radius: 8px;

    span>svg {
        width: 43px;
        height: 43px;
    }
}

.input-group-home-custom {
    margin: 20px 0px 25px 0px;
    height: 75px;
}

.dropdown-searchbar {
    max-width: 275px;
}

td > a {
    color: #212529;
    &:hover {
        color:#007C8A
    }
}

.campaign-table-data {
    font-size: 20px;
    vertical-align: middle;
}

.campaign-table-header {
    min-width: 100px;
}

.dropdown-toggle {
    height: 50px;
    min-width: 265px;
    background-color: rgba(216, 216, 216, 0.4);
    font-weight: 500;
    font-size: 17px;
    border: 2px solid rgba(255, 255, 255, 0);
    border-right-width: 15px;

    &:hover {
        background-color: rgba(216, 216, 216, 0.4);
        color: #4a4a4a;
        font-weight: 500;
        border-color: rgba(255, 255, 255, 0);
    }

    &:focus {
        background-color: rgba(216, 216, 216, 0.4);
        color: #4a4a4a;
        font-weight: 500;
        border-color: rgba(255, 255, 255, 0);
    }

    &:active {
        &:hover {
            background-color: rgba(216, 216, 216, 0.4);
            color: #4a4a4a;
            font-weight: 500;
            border-color: rgba(255, 255, 255, 0);
        }

        &:focus {
            background-color: rgba(216, 216, 216, 0.4);
            color: #4a4a4a;
            font-weight: 500;
            border-color: rgba(255, 255, 255, 0);
        }
    }
}

.btn-secondary {
    color: #4a4a4a;
    text-align: left;
}

.form-group-large {
    font-size: 22px;
}

.btn-custom-color {
    background-color: #007C8A;
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;

    &:hover {
        background-color: #007C8A;
    }

    &:focus {
        background-color: #007C8A;
    }

    &:active {
        &:hover {
            background-color: #007C8A;
        }

        &:focus {
            background-color: #007C8A;
        }
    }

    border: none;
}

.btn-search-container {
    padding: 20px 10px 5px 10px;
}

.tables {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.home-tables {
    min-width: 300px;
}

.table {
    min-width: 300px;
}

.candidate-header {
    padding: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;

    color: #9B9B9B;
}

.candidate-name-header {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 34.56px;
    line-height: 47px;
    /* identical to box height */

    color: #000000;
}

.campaigns-wrapper {
    padding: 25px;
}

#campaigns {
    font-size: 24px;
}

.home-card {
    background-color: #FFFFFF;
    width: 45rem;
    padding: 25px;
    min-height: 40rem;
}

.card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;

    color: #000000;
}

.navbar>div {
    padding: 0;
}

.campaigns-search-header {
    padding: 40px;
}

.nav-tabs {
    font-weight: 700;
    font-size: x-large;
}

.campaign-summary-content {
    display: flex;
    gap: 2rem;
}

.financial-totals-box {
    width: 50%;
}

.financial-totals-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
    align-content: center;
}

.financial-totals-content {
    align-items: center;
    width: 300px;
    height: 80px;
}

.breadcrumb {
    background-color: #FFFFFF;
}