/*
Use @import to import Sass files.

Do not use *= require in Sass or your other stylesheets will not be able to access the Bootstrap mixins and variables.
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
    font-family: "Nunito";
    src: url('Nunito-VariableFont_wght.ttf');
}

body {
    font-family: "Nunito";
    background: #F2F2F2;
}

div.container {
    display: flex;
}

.wrapper {
    display: flex;
    justify-content: space-between;
  }

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.main {
  width: 70%;
}

.sidebar {
  width: auto;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba(216, 216, 216, 0.4);
  padding: 25px;
}

a {
    color: #007C8A;
}

.nav-item {
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;

    color: #000000;
}

.navbar-custom {
    padding: 25px;
    background: white;
}

.searchbar-custom {
    background-color: rgba(216, 216, 216, 0.4);
    border-left: none;
    height: 100%;
    font-size: large;
    border-radius: 8px;
}

.searchbar-icon-custom {
    background-color: rgba(216, 216, 216, 0.4);
    border-right: none;
    height: 100%;
    padding: 20px;
    border-radius: 8px;
    span > svg {
        width: 25px;
        height: 25px;
    }
}

.input-group-home-custom {
    margin: 20px 0px 25px 0px;
    height: 75px;
}

.dropdown-custom {
    height: 50px;
    min-width: 150px;
    background-color: rgba(216, 216, 216, 0.4);
}

.input-group-dropdown-custom {
    width: auto;
    min-width: 75px;
}

.tables {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.home-tables {
    min-width: 300px;
}

.table {
    min-width: 300px;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list-unstyled-components {
    list-style: none;
    padding: 25px;
    font-size: x-large;
    margin-top: 25px;
}

.candidate-header {
    padding: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;

    color: #9B9B9B;
}

.candidate-name-header {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 34.56px;
    line-height: 47px;
    /* identical to box height */

    color: #000000;
}

.campaigns-wrapper {
    padding: 25px;
}

#campaigns {
    font-size: 24px;
}

.home-card {
    background-color: #FFFFFF;
    width: 45rem;
    padding: 25px;
    min-height: 40rem;
}

.card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;

    color: #000000;
}
