<div id="<%= dom_id contributor %>">
  <p>
    <strong>Name:</strong>
    <%= contributor.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= contributor.description %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= contributor.zip %>
  </p>

</div>
