<h1>Editing contributor</h1>

<%= render "form", contributor: @contributor %>

<br>

<div>
  <%= link_to "Show this contributor", @contributor %> |
  <%= link_to "Back to contributors", contributors_path %>
</div>
