<div id="<%= dom_id campaign_report %>">
  <p>
    <strong>Campaign:</strong>
    <%= campaign_report.campaign_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= campaign_report.type %>
  </p>

</div>
