<div id="<%= dom_id campaign_report %>">
  <p>
    <strong>Campaign:</strong>
    <%= campaign_report.campaign.name %>
  </p>
  <p>
    <strong>Election:</strong>
    <%= campaign_report.campaign.election.title %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= campaign_report.report_type %>
  </p>

</div>
