<h1>Editing campaign report</h1>

<%= render "form", campaign_report: @campaign_report %>

<br>

<div>
  <%= link_to "Show this campaign report", @campaign_report %> |
  <%= link_to "Back to campaign reports", campaign_reports_path %>
</div>
